S3method("[",cr_group)
S3method(latex,cr_group)
S3method(latex,ucr.base.tab)
export(ceq)
export(cr_group)
export(grepRet)
export(reFactor)
export(ucr.base.tab)
export(ucr.format.p)
export(varFind)
importFrom(Hmisc,label)
importFrom(Hmisc,latex)
